:root {
  --main-padding: 5px;
  --background-color: white;
  --font-color: #626;
  --correct-color: green;
  --incorrect-color: #CCC;
  --border-color: #EEE;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr .4fr 1.6fr;
  grid-template-rows: 1fr 8fr 4fr 1fr;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "main main . . . parrot"
    "option1 option2 option3 option4 . parrot"
    "footer footer footer footer . parrot";
  grid-gap: 0.2rem;
  font-weight: 800;
  color: var(--font-color,black);
  text-align: center;
}

.image {
  object-fit: cover;
  width: 100%;
  max-height: 120%;
  cursor: pointer;
 }

.answer{
  background: var(--background-color, red);
  margin: 20px;
  display: flex;
  border: var(--border-color) solid 2px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px var(--border-color);
  align-items: center;
  justify-content: center;
  font-size: 7.5vw;
  cursor: pointer;
}

.answer:after{
  content: "";
  padding-bottom: 100%;
  
}

nav {
  background: var(--background-color, red);
  grid-area: nav;
  padding-top: var(--main-padding);
}

main {
  background: var(--background-color, orange);
  grid-area: main;
  padding-top: var(--main-padding);
}

#parrot {
  background: var(--background-color, yellow);
  grid-area: parrot;
  padding-top: var(--main-padding);
  padding-right: 0 !important;
}

#option1 {
  background: var(--background-color, green);
  grid-area: option1;
  padding-top: var(--main-padding);
}

#option2 {
  background: var(--background-color, cyan);
  grid-area: option2;
  padding-top: var(--main-padding);
}

#option3 {
  background: var(--background-color, blue);
  grid-area: option3;
  padding-top: var(--main-padding);
}

#option4 {
  background: var(--background-color, purple);
  grid-area: option4;
  padding-top: var(--main-padding);
}

footer {
  background: var(--background-color, pink);
  grid-area: footer;
  padding-top: var(--main-padding);
  font-size: 1vh;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@keyframes correct {
    from {background-color: var(--background-color);
          color: var(--font-color);
          }
    to {background-color: var(--correct-color);
        color: var(--background-color);}
}

.correct {
    background-color: var(--correct-color);
    color: var(--background-color);
    animation: correct 1s;
}

@keyframes incorrect {
    0%  { transform: translate(0,0)  rotate(0deg);  }
    9%  { transform: translate(-2px,0) rotate(5deg);  }
    19% { transform: translate(0,0)  rotate(0deg);  }
    30% { transform: translate(2px,0)  rotate(-5deg); }
    42% { transform: translate(0,0)  rotate(0deg);  }
    55% { transform: translate(-2px,0) rotate(5deg);  }
    69% { transform: translate(0,0)  rotate(0deg);  }
    84% { transform: translate(2px,0)  rotate(-5deg); }
    100% {transform: translate(0,0)  rotate(0deg);  }
}

.incorrect {
  color: var(--incorrect-color);
    animation: incorrect .3s;
    
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 2fr 1fr 1fr 0.2fr;
    grid-template-areas:
      "nav nav nav nav"
      ". . . parrot"
      "main main main ."
      "option1 option2 option3 option4"
      "footer footer footer footer";
  }
}
